{{ define "title" }}Items{{ end }}

{{ define "content" }}
  {{range . }}
    <h1>{{ .Name }}</h1>
    <p>{{ .Description }}</p>
    <p>Amount: {{ .AmountText }}</p>
    <p>${{ .Price }}</p>
  {{end}}
{{ end }}